<div class="chat-container">
    <div class="chat-messages">
        
        <div class="grig gap-y-2">
            <!-- Chat Messages -->
            <app-chat-message
                text="Write text for checking"
            />

            @for (message of messages(); track $index) {
                @if (message.isGpt) {
                    <app-chat-message  [text]="message.text" />
                } @else {
                    <app-my-message  [text]="message.text" />
                }
            }
            
            <app-my-message
                text="Hello ..."
            />

            @if (isLoading()) {
                <app-typing-loader />
            }
        </div>
        
    </div>
    <app-text-message-box
        placeholder="Write here ..."
        (onMessage)="handleMessage($event)"
    ></app-text-message-box>



</div>