<div class="chat-container">
    <div class="chat-messages">
        
        <div class="grig gap-y-2">
            <!-- Chat Messages -->
            <app-chat-message
                text="Write text for checking"
            ></app-chat-message>
            <app-my-message
                text="Write text for checking"
            ></app-my-message>
            <app-typing-loader></app-typing-loader>
        </div>
        
    </div>
    <app-text-message-box></app-text-message-box>

    <!-- messageBox -->


</div>